<?xml version="1.0"?>
<packages>
  <package id="B3958BC6-781F-429D-99FA-2BC81A157C54" name="UserAccounts" model="DITS.HILI.WMS.Master.Secure.UserAccounts" service="DITS.HILI.WMS.MasterService" class="" configuration ="DITS.HILI.WMS.MasterConfiguration" webapi="DITS.HILI.WMS.MasterAPIs"  version="1.0.0.0"  />
  <package id="69F7FC50-9CA6-473A-B128-70A2706C2018" name="Receive" model="DITS.HILI.WMS.Receive" service="DITS.HILI.WMS.ReceiveService" class ="ReceiveService" configuration ="DITS.HILI.WMS.ReceiveConfiguration" webapi="DITS.HILI.WMS.ReceiveAPIs"  version="1.0.0.0"  />
  <package id="DD175634-A33F-4AF0-A201-86A4A0566B56" name="PutAway" model="DITS.HILI.WMS.PutAway" service="DITS.HILI.WMS.PutAwayService" class="PutAwayService" configuration ="DITS.HILI.WMS.PutAwayConfiguration" webapi="DITS.HILI.WMS.PutAwayAPIs"  version="1.0.0.0"  />
  <package id="D1CBE772-DB10-4CB6-9822-5254FCE0B51B" name="DailyPlan" model="DITS.HILI.WMS.DailyPlan" service="DITS.HILI.WMS.DailyPlanService" class="DailyPlanService" configuration ="DITS.HILI.WMS.DailyPlanConfiguration" webapi="DITS.HILI.WMS.DailyPlanAPIs"  version="1.0.0.0"  />
  <package id="C28D4D6B-8EA9-4D23-BC68-27BFE75A2897" name="ProductionControl" model="DITS.HILI.WMS.ProductionControl" service="DITS.HILI.WMS.ProductionControlService" class="ProductionControlService" configuration ="DITS.HILI.WMS.ProductionControlConfiguration" webapi="DITS.HILI.WMS.ProductionControlAPIs"  version="1.0.0.0"  />
  <package id="5CA164A6-381B-4E42-930C-A7F18CC33155" name="Dispatch" model="DITS.HILI.WMS.Dispatch" service="DITS.HILI.WMS.DispatchService" class ="DispatchService" configuration ="DITS.HILI.WMS.DispatchConfiguration" webapi="DITS.HILI.WMS.DispatchAPIs"  version="1.0.0.0"  />
  <package id="B65BA74B-9640-4122-A028-08EE6B6AB956" name="RegisterTruck" model="DITS.HILI.WMS.RegisterTruck" service="DITS.HILI.WMS.RegisterTruckService" class ="RegisterTruckService" configuration ="DITS.HILI.WMS.RegisterTruckConfiguration" webapi="DITS.HILI.WMS.RegisterTruckAPIs"  version="1.0.0.0"  />
  <package id="726C0FEB-7D80-498B-B892-EFD6386A6C79" name="Picking" model="DITS.HILI.WMS.Picking" service="DITS.HILI.WMS.PickingService" class ="PickingService" configuration ="DITS.HILI.WMS.PickingConfiguration" webapi="DITS.HILI.WMS.PickingAPIs"  version="1.0.0.0"  />
  <package id="5CF87667-0C6D-4FBD-B835-1799FBB699B8" name="TransferWarehouse" model="DITS.HILI.WMS.TransferWarehouse" service="DITS.HILI.WMS.TransferWarehouseService" class ="TransferWarehouseService" configuration ="DITS.HILI.WMS.TransferWarehouseConfiguration" webapi="DITS.HILI.WMS.TransferWarehouseAPIs"  version="1.0.0.0"  />
  <package id="609A2068-CBEA-49B4-81E1-7071C1C9CC59" name="InventoryTools" model="DITS.HILI.WMS.InventoryTools" service="DITS.HILI.WMS.InventoryToolsService" class ="InventoryToolsService" configuration ="DITS.HILI.WMS.InventoryToolsConfiguration" webapi="DITS.HILI.WMS.InventoryToolsAPIs"  version="1.0.0.0"  />
  <package id="0E052AA7-60EC-4D64-BC66-456C856AF1A3" name="TruckQueue" model="DITS.HILI.WMS.TruckQueue" service="DITS.HILI.WMS.TruckQueueService" class ="QueueService" configuration ="DITS.HILI.WMS.TruckQueueConfiguration" webapi="DITS.HILI.WMS.TruckQueueAPIs"  version="1.0.0.0"  />
</packages>